<ul class="topnav" id="myTopnav">
  <li id="logo" ng-click="go('/Home')">GelDB</li>
  <li id="test"><button class="md-raised md-button md-ink-ripple" type="button" id="log" ng-click="showPrompt($event)">Sign In </button></li>
  <li id="test2"><i class="material-icons">search</i></li><li><form ng-submit="searchDB()"><input type="text" ng-model="$parent.searchString" placeholder="Search" id="headerSearch"></form></li>
  <!--<li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>-->
</ul>
